* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(34, 34, 34);
  height: 100vh;
  color: rgb(250, 250, 250);
}
.App-title {
  font-size: 50px;
  padding: 25px 0;
}

.Stopwatch {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}

.Stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}

button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #106ba3;
}
.Stopwatch button {
  margin: auto;
  padding: 12px 32px;
  font-size: 20px;
}
.Stopwatch-display,
.Stopwatch-displayPlaceholder {
  height: 100px;
  padding: 40px 0;
  font-size: 48px;
}
.endMessage {
  margin-top: 50px;
  height: 50px;
}
